 :root {
     --base-color: #d33b00;
     --active-color: #ea3a00;
     --primary-color: #333;
     --ss-color: rgba(255, 255, 255, .4);
     --base-border: 1px solid currentColor
 }

 .faq__details, .faq__summary, .fback__button:focus {
     outline: 0
 }

 .accordion__tab:focus, .footer-menu__link:focus, .footer__link:focus, .logo__link:focus, .menu__link:focus, .search__submit-data:focus, .sn__link:focus {
     outline: 1px solid var(--active-color) !important
 }

 *, :after, :before {
     box-sizing: border-box;
     padding: 0;
     margin: 0
 }

 body {
     max-width: 100%;
     font-family: Montserrat, Arial, sans-serif;
     font-weight: 400;
     font-size: 16px;
     line-height: 32px;
     color: var(--primary-color)
 }

 ol, ul {
     list-style: none
 }

 a {
     text-decoration: none;
     outline: 0
 }

 img {
     display: block;
     max-width: 100%
 }

 h1 {
     font-size: 70px;
     line-height: 85px;
     margin-bottom: 24px
 }

 details summary {
     list-style-type: none
 }

 details summary::-webkit-details-marker {
     display: none
 }

 details summary::marker {
     display: none
 }

 #header-onclick-button, .accordion__tab, .btn, .faq__summary, .menu-toggle, .search__onclick-event:checked+.search__form>.search__submit-data, .search__toggle, .slider__switch, .sn__link {
     cursor: pointer
 }

 .about-us__message, .slider__desc, .slider__heading {
     color: #fff;
     filter: contrast(9)
 }

 .strong-text {
     font-weight: 700;
     font-size: 24px;
     line-height: 30px;
     margin-right: 8px
 }

 .img-set {
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover
 }

 .btn_big {
     font-size: 23px;
     line-height: 29px
 }

 .accordion__button:not(:last-child):focus, .accordion__button:not(:last-child):hover, .btn_big:focus, .btn_big:hover, .fback__button:focus, .fback__button:hover {
     background-color: #ff4d00;
     border: 1px solid rgba(255, 153, 0, .1) !important
 }

 .about-us__btn:active, .accordion__button:not(:last-child):active, .btn_big:active, .fback__button:active {
     background-color: var(--active-color);
     border-color: var(--active-color)
 }

 .btn {
     display: inline-block;
     padding: 19px 37px;
     background-color: var(--base-color);
     color: #fff;
     border: 1px solid var(--base-color)
 }

 .container, .header {
     width: 100%
 }

 #header-onclick-button, .header__menu, .header__menu-toggle, .search__form {
     margin-left: 35px
 }

 .search__onclick-event:checked+.search__form>.search__submit-data, .search__toggle:hover::before {
     color: var(--base-color) !important
 }

 .header {
     position: sticky;
     top: 0;
     background: #fff;
     box-shadow: 0 5px 40px rgba(0, 0, 0, .1);
     z-index: 10000
 }

 .container {
     margin: 0 auto;
     max-width: 1800px;
     padding: 0 15px
 }

 .header__container {
     display: flex;
     flex-wrap: wrap;
     position: relative;
     align-items: center;
     padding: 14px
 }

 .header__logo {
     flex-grow: 0;
     flex-shrink: 0;
     margin-right: auto
 }

 .header__menu {
     display: flex
 }

 .menu__item:not(:last-child) {
     margin-right: 50px
 }

 .menu__link {
     color: #000;
     line-height: 22px
 }

 .menu__link:hover {
     border-bottom: 3px solid var(--base-color)
 }

 .menu__link:active {
     color: var(--active-color);
     border-bottom: 1px solid currentColor
 }

 .search__entry-data:focus {
     border: none !important
 }

 .search__onclick-event {
     opacity: 0;
     position: absolute
 }

 .search__form {
     display: none;
     position: relative;
     overflow: hidden;
     padding: 16px 0 16px 32px;
     box-shadow: 0 0 20px rgba(0, 0, 0, .12);
     border-radius: 16px
 }

 @media (max-width:850px) {
     .container:not(:first-child) {
         overflow: hidden
     }

     .header__logo {
         margin-right: auto
     }

     .search__form {
         flex: 1 1 100%;
         margin-left: 0
     }

     .search__entry-data {
         margin-right: 50px;
         width: 100%
     }

     #header-onclick-button {
         margin-left: 0
     }

     .footer__column {
         margin-right: 0
     }
 }

 .search__onclick-event:checked~.search__form {
     display: block
 }

 .search__entry-data {
     display: block;
     width: clamp(155px, calc(100vw - 950px), 400px);
     margin-right: 80px;
     border-left: none;
     border-right: none;
     border-top: none;
     border-bottom: var(--base-border);
     outline: 0;
     font-size: 18px;
     line-height: 22px;
     font-weight: 400;
     color: #adadad
 }

 .search__submit-data, .search__toggle {
     top: 50%;
     transform: translateY(-50%)
 }

 #header-onclick-button, .search__submit-data {
     height: 25px;
     width: 25px;
     background-size: 100% 100%;
     background-repeat: no-repeat
 }

 #header-onclick-button {
     background-image: url(../img/sea.svg)
 }

 .search__submit-data {
     position: absolute;
     right: 47px;
     border: none;
     background-color: transparent;
     background-image: url(../img/sea-hov.svg)
 }

 .search__toggle {
     height: 23px;
     width: 23px;
     position: absolute;
     right: 20px;
     outline: var(--base-border);
     -webkit-border-radius: 100%;
     border-radius: 100%
 }

 .search__toggle::before {
     position: absolute;
     width: 100%;
     text-align: center;
     content: 'x';
     font-size: 20px;
     color: #999;
     line-height: 1
 }

 .search__onclick-event:checked~.search__form {
     display: block
 }

 .search__onclick-event:checked~#header-onclick-button {
     display: none
 }

 #header-onclick-button:hover {
     background-image: url(../img/sea-hov.svg)
 }

 .search__submit-data:focus {
     outline: 1px solid var(--active-color)
 }

 .search__toggle:hover {
     outline-color: var(--active-color) !important
 }

 .search__onclick-event:focus~#header-onclick-button, .search__onclick-event:focus~.search__form>.search__toggle {
     outline: 1px solid var(--active-color) !important
 }

 .search__onclick-event:focus~.search__form>.search__toggle::before {
     color: var(--active-color)
 }

 @media (max-width:850px) {
     .header__logo {
         margin-right: auto
     }

     .search__form {
         flex: 1 1 100%;
         margin-left: 0;
         padding-right: 85px
     }

     .search__entry-data {
         margin-right: 50px;
         width: 100%
     }
 }

 .header__menu-toggle {
     display: none;
     flex-grow: 0;
     flex-shrink: 0
 }

 .menu-toggle {
     position: relative;
     width: 40px;
     height: 40px
 }

 .menu-toggle__icon {
     position: absolute;
     top: 19px;
     right: 8px;
     height: 2px
 }

 .menu-toggle__icon_hide {
     left: 8px;
     background: var(--primary-color)
 }

 .menu-toggle:hover .menu-toggle__icon_hide {
     background: var(--base-color)
 }

 .menu-toggle__icon_show {
     left: 14px;
     background: var(--base-color)
 }

 .menu-toggle__icon::after, .menu-toggle__icon::before {
     content: "";
     position: absolute;
     background: inherit;
     right: 0;
     height: 2px
 }

 .menu-toggle__icon::before {
     top: -10px
 }

 .menu-toggle__icon::after {
     bottom: -10px
 }

 .menu-toggle__icon_hide::after, .menu-toggle__icon_hide::before {
     left: 0
 }

 .menu-toggle__icon_show::before {
     left: -6px
 }

 .menu-toggle__icon_show::after {
     left: 6px
 }

 @media (max-width:1330px) {
     .header__menu {
         flex-direction: column;
         position: absolute;
         top: 100%;
         left: 0;
         right: 0;
         margin: 0;
         background-color: #fff;
         overflow: hidden;
         z-index: 1000
     }

     .menu__item {
         width: 100%;
         margin: 0 !important;
         border-bottom: 1px solid #ebebe3;
         text-align: center
     }

     .menu__link {
         padding: 15px 0
     }

     .menu__link:hover {
         background: var(--base-color)
     }

     .header__menu-toggle, .menu__link {
         display: block
     }

     .search__onclick-event:checked+.search__form>.search__entry-data {
         width: clamp(155px, calc(100vw - 500px), 400px)
     }

     .header__menu_hide {
         height: 0
     }

     .header__menu_show {
         height: auto
     }
 }

 .section {
     padding-bottom: 100px
 }

 .slider__radio {
     display: none
 }

 .slider__wrap {
     position: relative;
     padding: 100px 80px;
     will-change: background-image
 }

 .slider__info {
     max-width: 837px
 }

 .slider__desc {
     display: block;
     margin-bottom: 90px
 }

 @media (max-width:850px) {
     h1 {
         margin-top: 0;
         font-size: 50px;
         line-height: 60px
     }

     .slider__desc {
         font-weight: 400;
         font-size: 20px
     }

     .slider__wrap {
         padding: 50px 15px 80px 15px;
         background-position: left center;
         background-size: cover
     }

     .slider__desc {
         margin-bottom: 50px
     }

     .btn_big {
         font-size: 18px;
         line-height: 25px
     }

     .section {
         padding-bottom: 50px
     }
 }

 .switch__list {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     height: 60px;
     text-align: center;
     vertical-align: center
 }

 .slider__switch {
     display: inline-block;
     width: 15px;
     height: 15px;
     border-radius: 100px
 }

 .slider__switch:not(:last-child) {
     margin-right: 15px
 }

 .slider__radio:checked~.slider__wrap .slider__switch {
     background-color: var(--ss-color) !important
 }

 .slider__radio_num_01:checked~.slider__wrap {
     background-image: url(../img/slider/01@2x.jpg)
 }

 @supports (background-image:-webkit-image-set(url(../img/slider/webp/01@1x.webp) 1x, url(../img/slider/webp/01@2x.webp) 2x)) {
     .slider__radio_num_01:checked~.slider__wrap {
         background-image: -webkit-image-set(url(../img/slider/webp/01@1x.webp) 1x, url(../img/slider/webp/01@2x.webp) 2x)
     }
 }

 @supports (background-image:image-set(url(../img/slider/webp/01@1x.webp) 1x, url(../img/slider/webp/01@2x.webp) 2x)) {
     .slider__radio_num_01:checked~.slider__wrap {
         background-image: image-set(url(../img/slider/webp/01@1x.webp) 1x, url(../img/slider/webp/01@2x.webp) 2x)
     }
 }

 .slider__radio_num_02:checked~.slider__wrap {
     background-image: url(../img/slider/02@2x.jpg)
 }

 @supports (background-image:-webkit-image-set(url(../img/slider/webp/02@1x.webp) 1x, url(../img/slider/webp/02@2x.webp) 2x)) {
     .slider__radio_num_02:checked~.slider__wrap {
         background-image: -webkit-image-set(url(../img/slider/webp/02@1x.webp) 1x, url(../img/slider/webp/02@2x.webp) 2x)
     }
 }

 @supports (background-image:image-set(url(../img/slider/webp/02@1x.webp) 1x, url(../img/slider/webp/02@2x.webp) 2x)) {
     .slider__radio_num_02:checked~.slider__wrap {
         background-image: image-set(url(../img/slider/webp/02@1x.webp) 1x, url(../img/slider/webp/02@2x.webp) 2x)
     }
 }

 .slider__radio_num_03:checked~.slider__wrap {
     background-image: url(../img/slider/03@2x.jpg)
 }

 @supports (background-image:-webkit-image-set(url(../img/slider/webp/03@1x.webp) 1x, url(../img/slider/webp/03@2x.webp) 2x)) {
     .slider__radio_num_03:checked~.slider__wrap {
         background-image: -webkit-image-set(url(../img/slider/webp/03@1x.webp) 1x, url(../img/slider/webp/03@2x.webp) 2x)
     }
 }

 @supports (background-image:image-set(url(../img/slider/webp/03@1x.webp) 1x, url(../img/slider/webp/03@2x.webp) 2x)) {
     .slider__radio_num_03:checked~.slider__wrap {
         background-image: image-set(url(../img/slider/webp/03@1x.webp) 1x, url(../img/slider/webp/03@2x.webp) 2x)
     }
 }

 @media (max-width:850px) {
     .slider__radio_num_01:checked~.slider__wrap {
         background-image: url(../img/slider/small/01.jpg)
     }

     .slider__radio_num_02:checked~.slider__wrap {
         background-image: url(../img/slider/small/02.jpg)
     }

     .slider__radio_num_03:checked~.slider__wrap {
         background-image: url(../img/slider/small/03.jpg)
     }

     @supports (background-image:url(../img/slider/small/webp/01.webp)) {
         .slider__radio_num_01:checked~.slider__wrap {
             background-image: url(../img/slider/small/webp/01.webp)
         }
     }

     @supports (background-image:url(../img/slider/small/webp/02.webp)) {
         .slider__radio_num_02:checked~.slider__wrap {
             background-image: url(../img/slider/small/webp/02.webp)
         }
     }

     @supports (background-image:url(../img/slider/small/webp/03.webp)) {
         .slider__radio_num_03:checked~.slider__wrap {
             background-image: url(../img/slider/small/webp/03.webp)
         }
     }
 }

 .slider__radio_num_01:checked~.slider__wrap .slider__switch_num_01, .slider__radio_num_02:checked~.slider__wrap .slider__switch_num_02, .slider__radio_num_03:checked~.slider__wrap .slider__switch_num_03 {
     background: #fff !important
 }

 .about-us__img {
     position: absolute;
     width: 100%;
     height: 100%;
     bottom: 0;
     object-fit: cover
 }

 .section__heading {
     margin-bottom: 25px;
     color: #666;
     font-size: 3rem;
     line-height: 3rem
 }

 .section__text {
     max-width: 1235px;
     margin-bottom: 50px
 }

 .about-us {
     display: grid;
     grid-template-columns: repeat(2, 1fr)
 }

 .about-us__banner {
     position: relative;
     margin-right: 16px
 }

 .about-us__thesis-list {
     margin-left: 16px
 }

 .about-us__notify {
     position: absolute;
     bottom: 0;
     padding: 50px;
     background-color: rgba(0, 0, 0, .5)
 }

 .about-us__message {
     padding-right: 350px
 }

 .about-us__btn, .about-us__btn-wrap {
     display: inline-block;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     right: 50px;
     z-index: 1;
 }

 .about-us__btn {
     border: 3px solid var(--base-color);
     background-color: transparent;
     z-index: 1000
 }

 .about-us__btn:focus, .about-us__btn:hover {
     background-color: var(--base-color)
 }

 .about-us__thesis-item {
     padding: 65px 120px 65px 60px;
     border: 1px solid #cacaca
 }

 .about-us__thesis-item:not(:last-child) {
     margin-bottom: 32px
 }

 .about-us__thesis-icon {
     float: left
 }

 .about-us__thesis-context, .about-us__thesis-title {
     margin-left: 240px
 }

 .about-us__thesis-title {
     display: block;
     margin-bottom: 8px
 }

 @media (max-width:1250px) {
     .about-us {
         grid-template-columns: none;
         grid-auto-rows: 1fr
     }

     .about-us__banner {
         margin: 0 0 16px 0;
         height: 90%
     }

     .about-us__img {
         object-position: bottom left;
         height: 90%
     }

     .about-us__thesis-list {
         margin-left: 0
     }

     .about-us__notify {
         padding: 50px 15px 150px 15px
     }

     .about-us__message {
         padding-right: 0
     }

     .about-us__btn, .about-us__btn-wrap {
         transform: none
     }

     .about-us__btn-wrap {
         position: absolute;
         display: block;
         top: auto;
         bottom: 50px;
         right: auto;
         left: 0;
         right: 0;
         text-align: center
     }

     .about-us__btn {
         position: static;
         display: inline-block;
         transform: none
     }

     .about-us__thesis-item {
         padding: 50px 15px;
         text-align: center
     }

     .about-us__thesis-icon {
         display: inline-block;
         float: none;
         margin-bottom: 15px;
         text-align: center
     }

     .about-us__thesis-context, .about-us__thesis-title {
         margin-left: 0
     }
 }

 .accordion {
     position: relative
 }

 .accordion__radio {
     display: none
 }

 .accordion__tab-wrap {
     margin-bottom: 45px
 }

 .accordion__tab {
     font-size: 18px;
     line-height: 22px;
     white-space: nowrap
 }

 .accordion__tab:not(:last-child) {
     margin-right: 85px
 }

 @media (max-width:850px) {
     .accordion__tab:not(:last-child) {
         margin-right: 25px
     }
 }

 .accordion__content {
     display: none
 }

 .accordion__info {
     flex: 1;
     margin-bottom: calc(90px + 1rem)
 }

 .accordion__banner {
     flex: 1
 }

 .accordion__content-context {
     padding-right: 142px
 }

 .accordion__banner_img {
     object-fit: cover;
     width: 100%;
     height: 100%
 }

 .accordion__btn-wrap {
     position: absolute;
     bottom: 0
 }

 .accordion__button:not(:last-child) {
     margin-right: 32px
 }

 .btn__small {
     color: #333;
     background: #fff;
     border: var(--base-border)
 }

 .btn__small:active, .btn__small:focus, .btn__small:hover {
     background-color: #666;
     color: #fff
 }

 .btn__small:active {
     background-color: #000
 }

 .accordion__radio_lvl_01:checked~.accordion__content_part_01, .accordion__radio_lvl_02:checked~.accordion__content_part_02, .accordion__radio_lvl_03:checked~.accordion__content_part_03, .accordion__radio_lvl_04:checked~.accordion__content_part_04 {
     display: flex
 }

 .accordion__radio_lvl_01:checked~.accordion__tab-wrap>.accordion__tab_step_01, .accordion__radio_lvl_02:checked~.accordion__tab-wrap>.accordion__tab_step_02, .accordion__radio_lvl_03:checked~.accordion__tab-wrap>.accordion__tab_step_03, .accordion__radio_lvl_04:checked~.accordion__tab-wrap>.accordion__tab_step_04 {
     color: var(--base-color) !important
 }

 @media (max-width:1000px) {
     .accordion__banner {
         display: none
     }

     .accordion__content-context {
         padding: 0
     }
 }

 @media (max-width:850px) {
     .accordion__button:not(:last-child) {
         margin-right: 20px
     }
 }

 .faq__item:first-child .faq__details {
     border-top: 1px solid #cacaca
 }

 .faq__details {
     border-bottom: 1px solid #cacaca
 }

 .faq__details:not([open]) .faq__summary:hover {
     color: var(--base-color)
 }

 .faq__details:not([open]) .faq__summary:focus {
     color: var(--base-color)
 }

 .faq__details:not([open]) .faq__summary:hover::before {
     display: block
 }

 .faq__details:not([open]) .faq__summary:focus::before {
     display: block
 }

 .faq__summary::before {
     display: none;
     content: '';
     position: absolute;
     top: -2px;
     bottom: -2px;
     left: 0;
     right: 0;
     border-top: 3px solid var(--base-color);
     border-bottom: 3px solid var(--base-color)
 }

 .faq__button {
     width: 50px;
     height: 50px;
     position: absolute;
     right: 0;
     top: 50%;
     transform: translateY(-50%);
     background-color: #ececec;
     border-radius: 100%
 }

 .faq__details[open] .faq__button-svg {
     transform: rotate(45deg);
     transform-origin: center center
 }

 .faq__summary:focus .faq__button, .faq__summary:hover .faq__button {
     background-color: var(--base-color)
 }

 .faq__summary:focus .faq__button-svg, .faq__summary:hover .faq__button-svg {
     fill: #fff
 }

 .faq__summary {
     padding: 39px 0;
     position: relative;
     padding-right: 100px
 }

 .faq__answer {
     margin-bottom: 40px;
     max-width: 1000px
 }

 .footer {
     background-color: #222
 }

 .footer-container {
     display: flex;
     flex-wrap: wrap;
     padding-top: 50px;
     padding-bottom: 50px
 }

 .footer__column {
     flex: 1
 }

 .footer__column_side_left {
     padding-right: 100px;
     display: flex;
     flex-direction: column
 }

 .footer__column_side_right {
     padding-left: 150px;
     align-self: center
 }

 .footer__logo {
     margin-bottom: 20px
 }

 .footer__link {
     display: inline-block
 }

 .footer__menu {
     margin-bottom: 20px
 }

 .footer-menu__link {
     font-size: 18px;
     line-height: 36px;
     font-weight: 700;
     color: #cacaca
 }

 .footer-menu__link:hover {
     color: var(--base-color)
 }

 .footer-menu__link:active {
     color: var(--active-color)
 }

 .footer__sn {
     margin-top: auto
 }

 .sn__item {
     display: inline-block
 }

 .sn__item:not(:last-child) {
     margin-right: 20px
 }

 .sn__link {
     display: block;
     line-height: 0
 }

 .footer-heading {
     line-height: 1
 }

 .fback__input, .fback__input::placeholder, .footer-heading, .footer__text {
     color: #fff
 }

 .btn {
     font-weight: 600
 }

 .fback__input {
     display: block;
     width: 100%;
     height: 60px;
     border: none;
     outline: 0;
     background-color: #414141;
     margin-bottom: 25px;
     padding-left: 25px
 }

 .fback__input:focus, .fback__input:hover {
     background-color: #666
 }

 .fback__textarea {
     height: 150px;
     padding-top: 25px;
     resize: none
 }

 .footer__column_side_middle p {
     color: #cacaca;
     margin-bottom: 25px
 }

 .fback__checkbox {
     margin-right: 5px
 }

 .fback__button {
     font-weight: 700
 }

 @media (max-width:1310px) {
     .footer__column_side_right {
         flex: 100%;
         padding: 0;
         margin-top: 50px
     }

     .footer__column_side_left {
         flex: 0 0 auto
     }

     .footer__column_side_middle {
         margin-right: 50px
     }
 }

 @media (max-width:850px) {
     .footer__column_side_middle {
         flex: 100%;
         margin-top: 50px
     }

     .footer__column_side_middle p {
         margin-bottom: 25px;
         padding-left: 0;
         width: 100%;
         min-height: 100%;
         float: none
     }

     .fback__label {
         position: static;
         top: auto;
         transform: none
     }
 }